@model ECDBugTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

@using ECDBugTracker.Services.Interfaces
@using ECDBugTracker.Models.Enums

@inject IBTProjectService _ProjectService;

<h1>Details</h1>

<h1>Details</h1>

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-secondary">
                    <div class="card col m-1 p-2">
                        <div class="body">
                            @* Project Name *@
                            <h5>@Model.Name</h5>
                            @* Project Description *@
                            <p>@Model.Description</p>
                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge" style="font-size:small">Project Status</span>
                                <div class="progress">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.StartDate;
                                        var end = Model.EndDate;
                                        var today = DateTime.UtcNow;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                        @* Use Progress Bar code variable here *@
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="body">
                            <ul class=" list-unstyled basic-list">
                                <li>Start Date: <span class="">@Model.StartDate.ToString("dddd, MMM dd yyyy")</span></li>
                                <li>Deadline: <span class="">@Model.EndDate.ToString("dddd, MMM dd yyyy")</span></li>
                                <li>Priority: <span class="">@Model.ProjectPriority!.Name</span></li>
                                @* if() logic *@
                                @if (Model.EndDate < DateTime.Today)
                                {
                                    <h5>Status: Inactive</h5>
                                }
                                else
                                {
                                    <h5>Status: Active</h5>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Manager</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">

                            @{
                                BTUser projectManager = await _ProjectService.GetProjectManagerAsync(Model.Id);

                                if (projectManager != null)
                                {
                                    <span>@projectManager.FullName</span>
                                }
                                else
                                {
                                    <span>No Project Manager assigned.</span>

                                    @if ((User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager))) && projectManager == null)
                                    {

                                        <a asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm">Assign Developer</a>

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Team</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <ul class="right_chat list-unstyled mb-0">

                                @if(Model.Members.Count > 0)
                                {
                                    @foreach (BTUser member in Model.Members)
                                    {
                                        <span>@member.FullName, </span>
                                       
                                    }
                                }
                                else
                                {
                                    <span>No Members assigned yet.</span>

                                    @if ((User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager))) && Model.Members.Count < 1)
                                    {

                                        <a asp-action="AssignProjectMembers" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm">Assign Members</a>

                                    }
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-dark">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Activity</h2>
                            <hr />
                        </div>
                        <div class="body">
                            @* Project Activity loop *@
                            @if (Model.Tickets.Any(t => t.History.Count > 0))
                            {

                                @foreach (Ticket ticket in Model.Tickets!)
                                {
                                    @foreach (TicketHistory ticketHistory in ticket.History!)
                                    {
                                        <p>@ticket.Title</p>
                                        <p>@ticketHistory.PropertyName:</p>
                                        <p style="color:red">@ticketHistory.OldValue --></p>

                                        <p style="color:forestgreen">@ticketHistory.NewValue</p>
                                    }
                                }

                            }
                            else
                            {
                                <p>No Ticket History Yet.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col">
                <div class="mt-5 bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Tickets</h2>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Ticket Title
                                        </th>
                                        <th>
                                            Ticket Priority
                                        </th>
                                        <th>
                                            Ticket Status
                                        </th>
                                        <th>
                                            Developer Name
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Tickets!)
                                    {
                                        <tr>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.TicketPriority!.Name
                                            </td>
                                            <td>
                                                @item.TicketStatus!.Name
                                            </td>
                                            @if ((User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager))) && item.DeveloperUser == null)
                                            {
                                                <td>
                                                    <a asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Assign Developer</a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>@(item.DeveloperUser?.FullName ?? "Unassigned")</td>
                                            }
                                            <td>
                                                <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">View Ticket</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
